body {
    overflow-x: hidden;
    background-color: gray;
}

section {
    min-width: 100px;
    min-height: 100px;
    width: 100svw;
    height: 100svh;
}

#test-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#test-buttons a {
    color: white;
    font-size: 5svw;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px black;
    border-bottom: .6svw solid transparent;
    transition: .55s ease;
}

#test-buttons a:hover {
    border-bottom: .6svw solid white;
    scale: 1.1;
}