section {
    min-width: 100px;
    min-height: 100px;
    width: 100svw;
    height: 100svh;
}

/*----------Hero----------*/
#hero {
    background: linear-gradient(245.59deg, #004ca4 0%, #31649e 50%, #000e54 100%);
}

#info {
    height: 100svh;
}

