* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/*----------Header & Navbar----------*/
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#header-main-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1400px;
}

#header-logo {
    align-content: center;
    text-align: center;
    margin-left: 2rem;
    width: 50px;
    min-width: 50px;
    height: 100%;
}
#header-logo img{
    width: 100%;
    height: 100%;
}

nav {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 4rem;
}

nav ul a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    margin: 0 1rem;
    padding-bottom: 2px;
    transition: .55s ease;
    border-bottom: 2px solid transparent;
    overflow: hidden;
}
nav ul a:hover {
    font-size: 1.5rem;
    border-bottom: 2px solid white;
}

#menu-icon {
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    display: none;
}

@media (max-width: 720px) {
    nav ul {
        position: absolute;
        top: 50px;
        right: -130%;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 0px 0px 0px 15px;
        margin: 0;
        transition: .55s ease;
    }

    nav ul li {
        margin: 8px 0px;
    }

    nav ul.open {
        right: 0;
    }

    .overlay.open {
        position: fixed;
        background: transparent;
        width: 100%;
        height: 100%;
    }

    #menu-icon {
        padding: 15px;
        display: block;
    }
}



/*----------Footer----------*/
footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
    width: 100svw;
    height: 50px;
    background: #2e2e2e;
}

footer p {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #656565;
    font-size: 1.4rem;
    font-weight: bold;
}

footer p span {
    font-size: 1.2rem;
}